@using MovieBox.Models
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
<<<<<<< HEAD
            @Html.ActionLink("MovieBox", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Rentals", "Index", "Rentals")</li>
                    <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
                <li>@Html.ActionLink("Movies", "Index", "Movies")</li>
                
=======
            @Html.ActionLink("MovieBox", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Rentals", "Index", "Rentals")</li>
                <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
                <li>@Html.ActionLink("Movies", "Index", "Movies")</li>

>>>>>>> 9571c89b8f2096dfc4c400bc6edff1b4871fe012
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> 9571c89b8f2096dfc4c400bc6edff1b4871fe012
