@using System.Text
@using Microsoft.Ajax.Utilities
@{
    ViewBag.Title = "Home Page";
}

<div class="frontTitle frontTitle_latestRelease">Latest Releases</div>
<div id="0" class="jumbotron jumbotron_latestRelease">
<<<<<<< HEAD
    <div class="grid gallery">
        <div class="movie_container movie_container_row1">
            @for (var i = 1; i < 6; i++)
            {
                <div id="@i" class="movie grid-item">
=======
    <div class="gallery">
        <div class="movie_container movie_container_row1">
            @for (var i = 1; i < 6; i++)
            {
                <div id="@i" class="movie">
>>>>>>> 9571c89b8f2096dfc4c400bc6edff1b4871fe012

                    @{
                        var url = "/Content/images/Movies_Release/" + i + ".jpg";
                    }
<<<<<<< HEAD
                    <img src="@url" alt="" />
                </div>
                        }
=======
                    <img src="@url" alt=""/>
                </div>
            }
>>>>>>> 9571c89b8f2096dfc4c400bc6edff1b4871fe012

        </div>


<<<<<<< HEAD




      @*////////////////*@

        @*<div class="computer_Container">
            <div class="computer">
                <img src="~/Content/images/pc.png" alt="Alternate Text" />
=======
        @*////////////////*@

        <div class="computer_Container">
            <div class="computer">
                <img src="~/Content/images/pc.png" alt="Alternate Text"/>
>>>>>>> 9571c89b8f2096dfc4c400bc6edff1b4871fe012
                <div class="icon message message-tower">This is a computer tower!</div>
                <div class="icon message message-monitor">This is a computer monitor!</div>
                <div class="icon icon-tower">
                </div>
                <div class="icon icon-monitor">
                </div>
            </div>
<<<<<<< HEAD
        </div>*@
=======
        </div>
>>>>>>> 9571c89b8f2096dfc4c400bc6edff1b4871fe012

        @*/////////////////*@






    </div>
</div>

<div class="frontTitle frontTitle_popularMovies">Popular Movies</div>
<div id="0" class="jumbotron jumbotron_popularMovies">
<<<<<<< HEAD
    <div class="grid gallery">
        <div class=" movie_container movie_container_row1">
            @for (var i = 1; i < 6; i++)
            {
                <div id="@i" class="movie grid-item ">
=======
    <div class="gallery">
        <div class="movie_container movie_container_row1">
            @for (var i = 1; i < 6; i++)
            {
                <div id="@i" class="movie">
>>>>>>> 9571c89b8f2096dfc4c400bc6edff1b4871fe012

                    @{
                        var url = "/Content/images/Movies_Popular/" + i + ".jpg";
                    }
<<<<<<< HEAD
                    <img src="@url" alt="" />
                </div>
                        }
=======
                    <img src="@url" alt=""/>
                </div>
            }
>>>>>>> 9571c89b8f2096dfc4c400bc6edff1b4871fe012

        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/homejs")
<<<<<<< HEAD
}



=======
}
>>>>>>> 9571c89b8f2096dfc4c400bc6edff1b4871fe012
